{% extends 'layouts/base.html' %}

{% block title %} Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <!-- Page content -->
    <section>
        <div class="formbold-main-wrapper">
            <img src="../static/images/logo.jpg" style="width: 30%; height: 30%;">
            <div class="formbold-form-wrapper">
                <form action="/login" method="POST">
                    <div class="formbold-input-group">
                        <label for="email" class="formbold-form-label"> Username </label>
                        <input
                                type="text"
                                name="username"
                                id="username"
                                placeholder="Enter your username"
                                class="formbold-form-input"
                        />
                    </div>
                    <div class="formbold-input-group">
                        <label for="age" class="formbold-form-label"> Password </label>
                        <input
                                type="password"
                                name="password"
                                id="password"
                                placeholder="Enter your password"
                                class="formbold-form-input"
                        />
                    </div>
                    <p style="color: red">{{ msg }}</p>
                    <button type="submit" class="formbold-btn" name="login">Login</button>
                    <p style="padding-top: 10px;">Don't have account, <a href="/register">Register now!</a></p>
                </form>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}