{% extends 'layouts/base.html' %}

{% block title %} Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <!-- Page content -->
    <section>
        <div class="formbold-main-wrapper">
            <img src="../static/images/logo.jpg" style="width: 30%; height: 30%;">
            <div class="formbold-form-wrapper">
                <form action="/register" method="POST">
                    {{ form.csrf_token }}
                    <div class="formbold-input-group">
                        <label for="first_name" class="formbold-form-label">First Name</label>
                        <input
                                type="text"
                                name="first_name"
                                id="first_name"
                                placeholder="Enter your first name"
                                class="formbold-form-input"
                                value="{{ form.first_name.data }}"
                        />
                        {% if form.first_name.errors %}
                            {% for error in form.first_name.errors %}
                                <p style="color: red">{{ error|safe }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="formbold-input-group">
                        <label for="last_name" class="formbold-form-label">Last Name</label>
                        <input
                                type="text"
                                name="last_name"
                                id="last_name"
                                placeholder="Enter your last name"
                                class="formbold-form-input"
                                value="{{ form.last_name.data }}"
                        />
                        {% if form.last_name.errors %}
                            {% for error in form.last_name.errors %}
                                <p style="color: red">{{ error|safe }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="formbold-input-group">
                        <label for="username" class="formbold-form-label">Username</label>
                        <input
                                type="text"
                                name="username"
                                id="username"
                                placeholder="Enter your username"
                                class="formbold-form-input"
                                value="{{ form.username.data }}"
                        />
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <p style="color: red">{{ error|safe }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="formbold-input-group">
                        <label for="email" class="formbold-form-label">Email</label>
                        <input
                                type="text"
                                name="email"
                                id="email"
                                placeholder="Enter your email"
                                class="formbold-form-input"
                                value="{{ form.email.data }}"
                        />
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <p style="color: red">{{ error|safe }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="formbold-input-group">
                        <label for="password" class="formbold-form-label">Password</label>
                        <input
                                type="password"
                                name="password"
                                id="password"
                                placeholder="Enter your password"
                                class="formbold-form-input"
                        />
                        <h10 style="color:green">Password must have at least one capital letter, one special character, and one number</h10>
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <p style="color: red">{{ error|safe }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="formbold-input-group">
                        <label for="confirm_password" class="formbold-form-label">Confirm Password</label>
                        <input
                                type="password"
                                name="confirm_password"
                                id="confirm_password"
                                placeholder="Re-Enter your password"
                                class="formbold-form-input"
                        />
                        {% if form.confirm_password.errors %}
                            {% for error in form.confirm_password.errors %}
                                <p style="color: red">{{ error|safe }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="formbold-input-group">
                        <label for="account_type" class="formbold-form-label"></label>
                        <input
                                type="hidden"
                                name="account_type"
                                id="account_type"
                                placeholder="Enter your account type"
                                class="formbold-form-input"
                        />
                    </div>
                    <div class="formbold-input-group">
                        <label for="created_on" class="formbold-form-label"></label>
                        <input
                                type="hidden"
                                name="created_on"
                                id="created_on"
                                class="formbold-form-input"
                                value="{{ current_time }}"
                        />
                    </div>
                    <div class="formbold-input-group">
                        <label for="updated_on" class="formbold-form-label"></label>
                        <input
                                type="hidden"
                                name="updated_on"
                                id="updated_on"
                                class="formbold-form-input"
                                value="{{ current_time }}"
                        />
                    </div>
                    <p style="color: red">{{ msg|safe }}</p>
                    <button type="submit" class="formbold-btn" name="register">Create Account</button>
                    <p style="padding-top: 10px;">I have account, <a href="/login">Login Now!</a></p>
                </form>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}