{% extends 'layouts/base_logged.html' %}

{% block title %} Lesson Design {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div style="padding-top: 15px;">
        <h1 style="text-align: center">{{ reportname }}</h1>
    </div>
    <div class="paragraph-box">
        <p style="font-weight: bold">Original Request:</p>
        <p>{{ desc }}</p>
    <button class="small_button align-right">Download</button>
    </div>
    {% for key, value in lesson_sections.items() %}
        <div class="paragraph-box">
            <p style="font-weight: bold">{{ key }}:</p>
            <p>{{ value | safe }}</p>
        </div>
    {% endfor %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}