{% extends 'layouts/base.html' %}

{% block title %} Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="formbold-main-wrapper">
        <!-- Author: FormBold Team -->
        <!-- Learn More: https://formbold.com -->
        <div class="formbold-form-wrapper">
            <img src="your-image-url-here.jpg">
            <form action="/lessons/generatelesson" method="POST">
                <div class="formbold-input-group">
                    <label for="email" class="formbold-form-label"> Username </label>
                    <textarea
                            name="desc"
                            id="desc"
                            rows="25"
                            placeholder="Describe the required lesson in mazimum 500 characters..."
                            class="formbold-form-input"
                            maxlength="500"
                            onkeyup="updateCounter()"
                    >{{ desc }}</textarea>
                </div>
                <div id="counter" style="color: red">0/500</div>
                <button class="formbold-btn" name="login">Login</button>
            </form>
        </div>
    </div>
    {% for key, value in lesson_design.items() %}
        <div class="formbold-main-wrapper">
        ------{{ key }}
        {{ value | safe }}
    </div>
    {% endfor %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>
        function updateCounter() {
            var textarea = document.getElementById("desc");
            var counter = document.getElementById("counter");
            var maxLength = textarea.getAttribute("maxlength");
            var currentLength = textarea.value.length;

            counter.innerHTML = currentLength + "/" + maxLength;
        }
    </script>
{% endblock javascripts %}